/java/in/innovateria/hindishayari/Activities/ContactUsActivity.java
/java/in/innovateria/hindishayari/Activities/MainActivity.java
/res/layout/activity_main.xml
/res/layout/activity_contact_us.xml
/res/layout/all_shayari.xml